<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1069837462861-1e9r9qkdeeq8fmuv2uivs859r63m6kea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069837462861-1e9r9qkdeeq8fmuv2uivs859r63m6kea</string>
	<key>API_KEY</key>
	<string>AIzaSyDKhnzQLt4BFzdXzERrEEnio0ZinzOaJIw</string>
	<key>GCM_SENDER_ID</key>
	<string>1069837462861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.d2.buckettrip</string>
	<key>PROJECT_ID</key>
	<string>bandhu-kallian-somiti</string>
	<key>STORAGE_BUCKET</key>
	<string>bandhu-kallian-somiti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069837462861:ios:31d4aa2771002415</string>
	<key>DATABASE_URL</key>
	<string>https://bandhu-kallian-somiti.firebaseio.com</string>
</dict>
</plist>